// ------------- Body
body {
  background-color : #4CAF50;
}

#header {
  background-color : #3B9476;
  border-top-right-radius : 1em;
  border-top-left-radius : 1em;

  h1 {
    color : white;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, .3);
    font-family: sans-serif;
    font-size: 5em;
  }
}

.row {

  h1 {
    text-align : center;
    padding-top : 20px;
    padding-bottom : 15px;
    margin-bottom : 0px;

    #headerGist {
      padding-left: 10px;
      background-color: #C8E6C9;
      padding-right: 10px;
      color: #000;
    }

    #headerManager {
      color: #FFF;
      margin-left: -16px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #388E3C;
    }
  }

  p {
    word-wrap : break-word;
  }
}

// Landing Page
#landingPageCaption {
  padding-top: 5%;
  color: #212121;
  background-color: #C8E6C9;
  padding-bottom: 5%;
}

// ------------- Main Dashboard Views
// Left Panel
#left-panel {
  background-color: #4CAF50;
}

// ------------- Search Bar
#search:placeholder{
  color: #000;
}

input::placeholder {
  color: #000;
}

li#search.collection-item {
  background-color: #C8E6C9;
}

input#searchBar{
  color : #212121;
  font-size: 1.6em;
}

input#search[placeholder] {
  color:black;
}

// ------------- Collections

.collection {
  border: none;
}

li.collection-item.ng-binding.ng-scope {
  color: #000;
  background-color: #FFF;
}

li.collection-item.ng-binding.ng-scope {
  &:hover {
    background-color: #C8E6C9;
  }
}
// Right Panel
#right-panel {
  background-color: #FFF;
}

// Create & Delete Buttons
.crudButtons {
  background-color: #388E3C;
  padding-top: 5%;
  padding-bottom: 5%;
}

.btn {
  &.create {
    width: 100%;
  }

  &.edit {
    width: 100%;
  }
}

p {
  margin-left: 7%;
  margin-right: 7%;

}

#gistFileName {
  color: #388E3C;
}

#gistFileContent {
}

// -------------- Edit gist

#editGistTitle {
  color:#FFF;
  margin-bottom: 0px;
  margin-top: -10px;
}
#editGistFileName {
  margin-top: 0px;
  color: #C8E6C9;
}
#editGistContent {
  background-color: #FFF;
  padding-left: 4%;
  padding-right: 4%;
}
// Commons

// Navigations
.nav-wrapper {
  background-color: #388E3C;
}

footer.page-footer {
  padding-top:0px;
  background-color: #388E3C;
  font-size: 0.8em;
}