// sass styles
body {
  background-color : #eee;
}

#header {
  background-color : #3B9476;
  border-top-right-radius : 1em;
  border-top-left-radius : 1em;

  h1 {
    color : white;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, .3)
  }
}

div.row.main {
  height : 100%;
  border-bottom-right-radius : 1em;
  border-bottom-left-radius : 1em;
}

.row {
  background-color : #fff;


  h1 {
    text-align : center;
    padding-top : 20px;
    padding-bottom : 15px;
    margin-bottom : 0px;
  }

  p {
    word-wrap : break-word;
  }
}

/* Gradient transparent - color - transparent */

hr {
  margin-bottom : 1.5rem;
}
.style-two {
  border : 0;
  height : 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#description-header {
  background-color : #8DC2B1;
  padding-left : 20px;
}

.sidebar{
  width : 80%;
  margin-right : auto;
  margin-left : auto;
}

#editcontainer {
  width : 60%;
  margin-right : auto;
  margin-left : auto;
}


#left-sidebar {
  height : 100%;
  border-right : 1px solid black;
  box-shadow : 5px 0px 6px #AAA;
}

input#searchBar{
  margin-bottom : 5px;
  margin-top : 5px;
  width : 100%;
  border : 1px solid #309C92;
  color : black;
  background-color : #8DC2B1;
  font-size: 1.5em;
  color : white;
}

input#search[placeholder] {
}

ul {
  list-style-type : none;
  li {
    text-decoration : none;
  }
}

a {
    color : black;
  text-decoration : none;
}