// sass styles
body {
  background-color : #eee;
}

.row {
  background-color : #fff;

  h1 {
    text-align : center;
  }

  p {
    word-wrap : break-word;
  }
}

.columns {
  border : 1px solid black;
}

ul {
  list-style-type : none;
  li {
    text-decoration : none;
  }
}

a {
  text-decoration : none;
}