// sass styles
body {
  background-color : #4CAF50;
}

#header {
  background-color : #3B9476;
  border-top-right-radius : 1em;
  border-top-left-radius : 1em;

  h1 {
    color : white;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, .3);
    font-family: sans-serif;
    font-size: 5em;
  }
}

div.row.main {
  height : 100%;
  border-bottom-right-radius : 1em;
  border-bottom-left-radius : 1em;
}

.row {

  h1 {
    text-align : center;
    padding-top : 20px;
    padding-bottom : 15px;
    margin-bottom : 0px;

    #headerGist {
      padding-left: 10px;
      background-color: #C8E6C9;
      padding-right: 10px;
      color: #000;
    }

    #headerManager {
      color: #FFF;
      margin-left: -16px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #388E3C;
    }
  }

  p {
    word-wrap : break-word;
  }
}
// Landing Page
#landingPageCaption {
  padding-top: 5%;
  color: #212121;
  background-color: #C8E6C9;
  padding-bottom: 5%;
}

// Main Dashboard Views

hr {
}
.style-two {
  height : 2px;
}

#description-header {
  background-color : #8DC2B1;
  padding-left : 20px;
}

.sidebar{
  width : 80%;
  margin-right : auto;
  margin-left : auto;
}

#editcontainer {
  width : 60%;
  margin-right : auto;
  margin-left : auto;
}


#left-sidebar {
  height : 100%;
  border-right : 1px solid black;
  box-shadow : 5px 3px 3px #AAA;
}

input#searchBar{
  margin-bottom : 5px;
  margin-top : 5px;
  width : 100%;
  border : 1px solid #309C92;
  color : black;
  background-color : #8DC2B1;
  font-size: 1.5em;
}

input#search[placeholder] {
  color:black;
}

// Commons

a {
    color : red;
  text-decoration : none;
}

// Navigations
.nav-wrapper {
  background-color: #388E3C;
}

footer.page-footer {
  margin-top: -1%;
  background-color: #388E3C;
}