<script type="text/javascript">
var input = document.getElementsById('createInputGistTitle').value;

input.addEventListener('click', function (e) {

  input.value = document.getElementById('createInputGistFileName').value;
}, true);
</script>

<div class="center-align col s12" id="dash-header">
  <img src="../images/logo1.png" width="10%"  alt="Gist Manager">
  <span class="logoname">
    <img src="../images/logoname.png"  width="43%" alt="Gist Manager">
  </span>
</div>

<div class="container">
  <form class="col s12">
    <div class ="row" id="createContainer">

      <div class ="row">
          <h3 class="input-field">Create New Gist</h3>
      </div>

      <div class="row input-field" id="new_gist_description">
        <label for="new_gist_file">Gist Title</label>
        <input type="text" ng-model="new_gist.description" id="createInputGistTitle">
      </div>

      <div class="row input-field" id="new_gist_description">
        <label for="new_gist_file">Gist Filename</label>
        <input type="text" ng-model="new_gist.filename" id="createInputGistFileName" >
      </div>

      <div class ="row input-field" id="textarea-create-edit">
        <label for="new_gist_description">Description</label>
        <textarea  class="materialize-textarea" ng-model="new_gist.fileContent"></textarea>
      </div>

      <!--         <i class="material-icons prefix">mode_edit</i> -->

      <div class ="row center-align">
        <a ng-href="/#/dashboard" class="btn back-btn" onclick="checkValid()">Back</a>
        <a class="waves-effect waves-light btn create" ng-href="/#/create" ng-click="GistService.postGists(cookies, new_gist); process_done();" id="btn-create-gist">Create Gist</a>
      </div>

    </div>
  </form>
</div>
