<div class="container">
<!-- Page Layout here -->
  <div class="row">

    <div class="col s12 m4 l3">
      <div class="row sidebar">
        <input id="searchBar" type="text" placeholder="Gist Title" ng-model="searchGist" />
      </div>

      <div class="row sidebar">
        <ul>
          <li ng-repeat="gist in gists | filter:searchGist">
            <div ng-click="display(gist.id)" id="description-header"> <a href="">{{ gist.description }}</a>
            </div>
            <ul>
              <li ng-repeat="file in gist.files">{{ file.filename }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="col s12 m8 l9">
        <div class="row">
          <a class="button" type="button" ng-href="/#/create">Create</a>
          <a class="button" type="button" ng-href="/#/edit/{{ displayGist.id }}">Edit</a>
        </div>

        <div class="row">
          <div ng-repeat="file in displayGist.files">
            <div>
              <label for="">Description: {{ displayGist.description }}</label>
            </div>
            <div>
              <label for="">File Name: {{ file.filename }}</label>
            </div>
            <div>
              <p>File Content: {{ file.content }}</p>
            </div>
          </div>
        </div>
    </div>

  </div>

</div>