<div class="container">
  <div class="row">
    <h3>Edit Gist</h3>
    <h2 id="editGistTitle">{{edit_gist.description}}</h2>
    <h6 id="editGistFileName">{{edit_gist.filename}}</h6>
  </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="editGistContent" class="materialize-textarea" ng-model="edit_gist.fileContent" class="u-full-width"></textarea>
        </div>
      </div>
    </form>
  <div class="row">
    <a class="waves-effect waves-light btn save" ng-click="GistService.editGist(cookies, edit_gist, gist_id); process_done()">
      Save
    </a>

    <a class="waves-effect waves-light btn delete" ng-click="GistService.deleteGist(cookies, gist_id); process_done()">
      Delete
    </a>
  </div>
</div>