/* line 2, stdin */
body {
  background-color: #eee; }

/* line 6, stdin */
.row {
  background-color: #fff; }
  /* line 9, stdin */
  .row h1 {
    text-align: center; }
  /* line 13, stdin */
  .row p {
    word-wrap: break-word; }

/* Gradient transparent - color - transparent */
/* line 20, stdin */
hr.style-two {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

/* line 29, stdin */
#left-sidebar {
  border-right: 1px solid black;
  box-shadow: 5px 0px 5px #AAA; }

/* line 34, stdin */
ul {
  list-style-type: none; }
  /* line 36, stdin */
  ul li {
    text-decoration: none; }

/* line 41, stdin */
a {
  text-decoration: none; }
