/* line 2, stdin */
body {
  background-color: #eee; }

/* line 6, stdin */
.row {
  background-color: #fff; }
  /* line 9, stdin */
  .row h1 {
    text-align: center; }
  /* line 13, stdin */
  .row p {
    word-wrap: break-word; }

/* line 18, stdin */
.columns {
  border: 1px solid black; }

/* line 22, stdin */
ul {
  list-style-type: none; }
  /* line 24, stdin */
  ul li {
    text-decoration: none; }

/* line 29, stdin */
a {
  text-decoration: none; }
