/* line 2, stdin */
body {
  background-color: #4CAF50; }

/* line 6, stdin */
#header {
  background-color: #3B9476;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em; }
  /* line 11, stdin */
  #header h1 {
    color: white;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    font-size: 5em; }

/* line 21, stdin */
.row h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 0px; }
  /* line 27, stdin */
  .row h1 #headerGist {
    padding-left: 10px;
    background-color: #C8E6C9;
    padding-right: 10px;
    color: #000; }
  /* line 34, stdin */
  .row h1 #headerManager {
    color: #FFF;
    margin-left: -16px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #388E3C; }

/* line 43, stdin */
.row p {
  word-wrap: break-word; }

/* line 49, stdin */
#landingPageCaption {
  padding-top: 5%;
  color: #212121;
  background-color: #C8E6C9;
  padding-bottom: 5%; }

/* line 58, stdin */
#left-panel {
  background-color: #4CAF50; }

/* line 63, stdin */
#search:placeholder {
  color: #000; }

/* line 67, stdin */
input::placeholder {
  color: #000; }

/* line 71, stdin */
li#search.collection-item {
  background-color: #C8E6C9; }

/* line 75, stdin */
input#searchBar {
  color: #212121;
  font-size: 1.6em; }

/* line 80, stdin */
input#search[placeholder] {
  color: black; }

/* line 86, stdin */
.collection {
  border: none; }

/* line 90, stdin */
li.collection-item.ng-binding.ng-scope {
  color: #000;
  background-color: #FFF; }

/* line 96, stdin */
li.collection-item.ng-binding.ng-scope:hover {
  background-color: #C8E6C9; }

/* line 101, stdin */
#right-panel {
  background-color: #FFF; }

/* line 106, stdin */
.crudButtons {
  background-color: #388E3C;
  padding-top: 5%;
  padding-bottom: 5%; }

/* line 113, stdin */
.btn.create {
  width: 100%; }

/* line 117, stdin */
.btn.edit {
  width: 100%; }

/* line 122, stdin */
p {
  margin-left: 7%;
  margin-right: 7%; }

/* line 128, stdin */
#gistFileName {
  color: #388E3C; }

/* line 137, stdin */
#editGistTitle {
  color: #FFF;
  margin-bottom: 0px;
  margin-top: -10px; }

/* line 142, stdin */
#editGistFileName {
  margin-top: 0px;
  color: #C8E6C9; }

/* line 146, stdin */
#editGistContent {
  background-color: #FFF;
  padding-left: 4%;
  padding-right: 4%; }

/* line 154, stdin */
.nav-wrapper {
  background-color: #388E3C; }

/* line 158, stdin */
footer.page-footer {
  padding-top: 0px;
  background-color: #388E3C;
  font-size: 0.8em; }
